/* Form styles. */
form {
  position: sticky;
  left: var(--default-container-padding);
  max-width: 100vw;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: flex-end;
}

@media (min-width: 1000px) {
  form {
    position: static;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
    min-width: var(--sidebar-width);
  }
}

textarea {
  display: block;
  margin-top: 4px; /* Room for focus-ring. */
  border: solid 2px #666;
  width: 100%;
  padding: 10px;
  min-height: 200px;
  line-height: 1.5;
}

button {
  border: solid 1px transparent;
  background: var(--color-primary);
  appearance: none;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
}

textarea:focus,
button:focus {
  outline: solid 4px var(--color-primary);
  outline-offset: 2px;
}

button:hover {
  background-color: var(--color-primary-light);
}

button:active {
  background: var(--color-primary);
}
