/* Form styles. */
form {
  position: sticky;
  left: var(--default-container-padding);
  flex-shrink: 0;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: flex-end;
  max-width: calc(95vw - var(--gap));
}

form > label {
  flex-basis: 100%;
}

@media (min-width: 1200px) {
  form {
    flex-direction: row;
    position: static;
    flex-direction: column;
    align-items: stretch;
    width: min-content;
    min-width: var(--sidebar-width);
  }


  form > label {
    flex-basis: auto;
  }
}


textarea {
  display: block;
  margin-top: 4px; /* Room for focus-ring. */
  border: solid 2px #666;
  width: 100%;
  min-width: 300px;
  padding: 10px;
  min-height: 200px;
  line-height: 1.5;
}


.button-reverse {
  flex-basis: 100%;
  margin: 0 auto;
  padding: 3px 10px;
  border: solid 1px transparent;
  border-radius: 5px;
  background: transparent;
  width: fit-content;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .button-reverse {
    flex-basis: auto;
  }
}

.button-reverse:hover {
  background-color: #f5f5f5;
}

.button-reverse:active {
  background-color: #ddd;
}

.button-submit,
.datalist-buttons > button[data-value] {
  border: solid 1px transparent;
  background: var(--color-primary);
  appearance: none;
  color: white;
  padding-inline: 15px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  min-height: 24px;
  min-width: 24px;
}

.button-submit {
  min-height: 3rem;
}

.color-input-form input {
  accent-color: var(--color-primary);
}

.color-input-form :focus {
  outline: solid 4px var(--color-primary);
  outline-offset: 2px;
}

.button-submit:hover,
.datalist-buttons > button[data-value]:hover {
  background-color: var(--color-primary-light);
}

.button-submit:active,
.datalist-buttons > button[data-value]:active {
  background: var(--color-primary);
}

.overflow {
  max-width: 80vw;
  overflow: auto;
}

#contrast {
	width: 100%;
}

.datalist-buttons {
  display: flex;
  margin-block: 0rem 4rem;
  position: relative;
  width: 100%;
}

.datalist-buttons > button[data-value] {
  border-radius: 4px;
  padding: 1px 5px;
  position: absolute;
}

/* Use :where() to lower specificity */
.datalist-buttons > button[data-value]:where(:not(:first-child):not(:last-child)) {
  transform: rotate(45deg);
}

.datalist-buttons > button[data-value="1"] {
  left: 0;
}

.datalist-buttons > button[data-value="3"] {
  left: calc(100% * calc(3 / 20) - 5% - 1rem);;
}

/* Make room for Large button to be shifted above input */
@media (max-width: 35rem) {
  label[for="contrast"] {
      margin-bottom: 3rem;
  }

  .datalist-buttons > button[data-value="3"] {
      left: calc(100% * calc(3 / 20) - 5% - 2rem);
      transform: translateY(-5.2rem) rotate(45deg);
  }
}

.datalist-buttons > button[data-value="4.5"] {
  left: calc(100% * calc(4.5 / 20) - 5% - 1rem);;
}

.datalist-buttons > button[data-value="7"] {
  left: calc(100% * calc(7 / 20) - 5% - 1rem);;
}

.datalist-buttons > button[data-value="21"] {
  right: 0;
}

.checkbox-flex {
  display: flex;
  align-items: center;
  gap: 0.5em;
  line-height: 1;
  min-height: 3rem;
}

.checkbox-flex input[type="checkbox"] {
  font-size: 1em;
  min-height: 1em;
  min-width: 1em;
  margin: 0px;
}
