td, th {
  padding: 4px;
  text-align: start;
}

th {
  background-color: var(--color);
  color: var(--text-color);
}

td {
  background-color: var(--color-1);
  color: var(--color-2);
}

button {
  display: block;
}

.layout-container {
  display: grid;
  grid-template-columns: 200px auto;
}
