:root {
  --blue: #0f6292;
  --default-container-padding: 10px;
  --sidebar-width: 250px;
  --gap: 20px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

/* Header styles. */
header {
  padding: var(--default-container-padding);
}

h1 a {
  color: inherit;
  text-decoration: none;
}

/* Main styles. */
main {
  display: flex;
  gap: var(--gap);
  margin: 20px 0 40px;
  padding: var(--default-container-padding);
}

/* Table styles. */
.table-container {
  --hover-border-width: 3px;
  --hover-border-color: white;
  --sidebar-width: 250px;

  margin-top: 20px;
}

table {
  border-spacing: 0;
  font-size: 14px;
}

td, th {
  padding: 15px;
  text-align: start;
}

th {
  background-color: var(--color);
  color: var(--text-color);
}

td {
  background-color: var(--color-1);
  color: var(--color-2);
}

tr:first-child th span {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

/* Form styles. */
form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: var(--sidebar-width);
}

textarea {
  margin-top: 4px; /* Room for focus-ring. */
  border: solid 2px black;
  width: 100%;
  padding: 5px;
  min-height: 200px;
  line-height: 1.2;
}

button {
  margin-top: auto;
  border: 0;
  background: #0f6292;
  appearance: none;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
}

textarea:focus,
button:focus {
  outline: solid 4px var(--blue);
  outline-offset: 2px;
}

button:hover {
  background-color: #0d77b5;
}

button:active {
  background: #0f6292;
}

/* Crosshair on hover styles. */
tr :is(th, td),
:is(th, td) {
  position: relative;
}

:is(th, td):before,
tr :is(th, td):after {
  content: "";
  position: absolute;
  background: var(--hover-border-color);
  mix-blend-mode: difference;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

:is(th, td):before {
  right: 0;
  top: 0;
  width: var(--hover-border-width);
  height: 100%;
}

tr :is(th, td):after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--hover-border-width);
}

:is(th, td).is-highlighted:before,
tr:hover :is(th, td):after {
  opacity: 1;
}

/* Footer styles. */
footer {
  min-height: 50vh;
  padding: 40px var(--default-container-padding) 40px calc(var(--default-container-padding) + var(--sidebar-width) + var(--gap));
  background: var(--blue);
  color: white;
}

footer a {
  color: white;
}
